*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    height:100%;
    margin:0;
    background-color:black;
    color:white;
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}
.box{
    background:linear-gradient( to bottom right, black ,white 17%);
    color: black;
    margin:150px;
    width: 870px;
    height: 900px;
}
.box img{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    height: auto;
}
header {
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-direction:column;
    margin:30px;
    padding:30px;
    flex-wrap: wrap;

}

h1{
	font-size:50px;
    margin: 30px;
}
.text {
    background-color:black;
    color: white;
    padding: 5px;
    word-break: keep-all;
    letter-spacing:3.3px;
    line-height: 1.8;
    font-size:17.0px;
}
.text1{
    padding: 5px;
    word-break: keep-all;
    letter-spacing:2.5px;
    line-height: 1.8;
    font-size:17.0px;
}
.part1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 70px;
    margin-top:250px;
    margin-bottom:0px;
    border-bottom: 2px solid #ddd;
    list-style: none;
}
li{
    padding:18px;
}

.name {
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    writing-mode: vertical-lr;
    margin:60px;
    margin-top: 0px;
}
a{
    color:black;
    text-decoration:none !important;
}
a:hover{
    color: blue;
    text-decoration:none !important;
}
.pic
{
    padding:26px;
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    transition: transform 0.3s ease;
    height:353px;

}

.pic::after {
    content: "";
    border-left: 1px dotted; black;
    height:500px;
    position: absolute;
    left:100%;
    top: 0;
    transform: translateX(10%);
    pointer-events: none;

}
.pic:last-child::after {
    content: none;
}

.pic:hover {
    transform: translateX(20px);
    font-size:20px;
    background: linear-gradient(to top right, black ,white 30%);
}

.body2{
    background-color: white;
}
.index2 {
    position:fixed;
    top: 0;
    width: 100vw;
    display: flex;
    color: white;
}
.index2 {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    background:rgb(255,255,255,0.5);
}

.index2 a {
    flex: 1;
    color:black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.index2 a:hover {
    background-color:blue;
    color:white;
    transform: translateX(20px);
    font-size:20px;
}

.gallery {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100vw; 
    padding-top:50px;
}
.item {
    flex: 0 0 auto;
    margin-right: 10px;
    text-align: center;
}

.item img {
    max-height: 500px;
    max-width: 100%;
    display: block;
    margin:30px;
}

.pp {
    background:linear-gradient( to bottom right, black ,white 10%);
    color: black;
    word-break: keep-all;
    color: black;
    letter-spacing:3.3px;
    line-height: 1.8;
    font-size:17.0px;
    text-align: center;
    width:400px;
    display:flex;
    flex-direction: column;
    justify-content:left;
    text-align: left;
    height:600px;
    margin: 20px;
    padding: 20px;
    white-space: pre-line;
}
.pp1{
    width:700px;
    word-break: keep-all;
    color: black;
    letter-spacing:3.3px;
    line-height: 1.8;
    font-size:17.0px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content:left;
    text-align: left;
    height:600px;
    margin: 20px;
    padding: 20px;
    white-space: pre-line;
    background:linear-gradient( to bottom right, black ,white 10%);
    color: black;
}
.pp2{
    width:400px;
    word-break: keep-all;
    color:black;
    letter-spacing:3.3px;
    line-height: 1.8;
    font-size:17.0px;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content:left;
    text-align: left;
    height:300px;
    padding:20px;
    white-space: pre-line;
    background:linear-gradient( to bottom right, black ,white 10%);
    color:black;
    background-color: red;
}
.text4{
    background-color:black;
    color: white;
    padding: 5px;
    margin-top: 60px;
    word-break: keep-all;
    letter-spacing:3.3px;
    line-height: 1.8;
    font-size:17.0px;
}
h2{
    font-size:25px;
    letter-spacing:2.6px;
    line-height: 1.8;
    margin: 30px;
    color: white;
    background-color: black;
}
h3{
    font-size:25px;
    letter-spacing:2.6px;
    line-height: 1.8;
    margin:0px;
    color: black; 
}
@media screen and (max-width: 600px) {
        .box{
        background:linear-gradient( to bottom right, black ,white 17%);
        color: black;
        margin:150px;
        width:70vw;
        height:80vh;
        flex-wrap:wrap;
    }
    .box img{
        position: absolute;
        top: %;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 100%;
        height: auto;
    }
}
